body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
}

h3 {
    /* margin-top: 2rem; */
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
    text-align: left;
}

#h3-1 {
    margin-top: 2rem;
}

.row {
    /* margin-bottom: 1rem; */
}

.eight {
    width: 620px;
}

.row-p1 {
    margin-bottom: -3rem;
}

.row-p2 {
    margin-bottom: 2rem;
}

.row .row {
    margin-top: 1rem;
    margin-bottom: 0;
}

/* hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
} */

#cswan {
    padding-left: 10px;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: normal;
    color: #000000;
}

#work {
    padding-left: 7px;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: normal;
    color: #000000;
}

.info {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
}

strong {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    /* text-align: center; */
}

.projects {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: normal;
    /* text-align: center; */
}

.projects-sub {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    /* text-align: center; */
}

.role {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    /* text-align: center; */
}

.section_header {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    /* text-align: center; */
}

.sections {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    /* padding-bottom: 10px; */
    font-size: 18px;
    line-height: normal;
    /* text-align: center; */
}

.section_numbers {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    font-size: 24px;
    line-height: normal;
    /* text-align: center; */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

p {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    /* text-align: center; */
}

img {
    max-width: 50%;
    height: auto;
}

.affect-map {
    max-width: 80%;
    height: auto;

}

.thumb {
    width: 100px;
    /* Set a small width */
}

.step {
    margin: 32px 0;
}

.step-body {
    margin: 0 auto;
    font-size: 20px;
    line-height: 32px;
    font-family: Nunito, helvetica, arial, sans-serif;
    font-weight: 300;
    text-align: left;
    color: #555;
    word-wrap: break-word;
}